.login {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
}

.login-form input {
  width: 100%;
}

.inputs-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.placeholder {
  color: var(--gray-color);
}

.error {
  color: var(--error-color);
}

.helper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.helper-link {
  color: var(--accent-color);
  transition: color var(--transition);
}

@media (any-hover: hover) {
  .helper-link:hover {
    color: var(--accent-light-color);
  }
}

@media screen and (max-width: 1209px) {
  .login {
    width: 65%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  .login-form {
    gap: 48px;
  }
}

@media screen and (max-width: 839px) {
  .login {
    width: 100%;
    gap: 28px;
  }

  .inputs-wrap {
    gap: 18px;
  }
}