.input {
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  color: var(--black-color);
  background-color: transparent;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  outline: none;
  transition: border var(--transition);
}

.input::placeholder {
  color: var(--gray-color);
}

.input:focus {
  border-color: var(--black-color);
}

@media (any-hover: hover) {
  .input:hover {
    border-color: var(--black-color);
  }
}

@media screen and (max-width: 1209px) {
  .input {
    padding: 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 839px) {
  .input {
    padding: 14px;
    font-size: 14px;
  }
}