.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  border-right: 1px solid var( --gray-color);
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100vh;
  width: var(--panel-width);
  overflow-y: auto;
}

.side-panel > button {
  margin-top: auto;
}

@media screen and (max-width: 839px) {
  .side-panel {
    top: auto;
    bottom: 0;
    z-index: 100;
    border-right: none;
    padding: 0 30px;
    border-top: 1px solid var( --gray-color);
    width: 100%;
    height: auto;
    background-color: var(--background-color);
  }

  .side-panel > button {
    display: none;
  }
}