.user {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center
}

.user-photo {
  border-radius: 100%;
  width: 82px;
  height: 82px;
  background-image: url('/img/icons/avatar.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  text-align: center;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-contact {
  opacity: 0.4;
}

@media screen and (max-width: 1209px) {
  .user {
    gap: 14px;
  }

  .user-photo {
    width: 70px;
    height: 70px;
  }

  .user-info {
    gap: 3px;
  }

  .user-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 839px) {
  .user:not(.mobile) {
    display: none;
  }

  .user-photo {
    width: 50px;
    height: 50px;
  }

  .user-name {
    font-size: 14px;
  }

  .user-contact {
    font-size: 12px;
  }
}