.cart-header {
  display: flex;
  gap: 18px;
  align-items: center;
}

.cart {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.cart-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-sum {
  padding: 18px 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.cart-sum > span {
  font-size: 20px;
  font-weight: 600;
}

.cart-sum-price {
  display: flex;
  gap: 4px;
  font-size: 18px;
}

.cart-sum-price span {
  color: var(--accent-color);
}

@media screen and (max-width: 1209px) {
  .cart {
    width: 100%;
    gap: 38px;
  }
}

@media screen and (max-width: 839px) {
  .cart-header {
    gap: 16px;
  }
}