.auth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.decor-part {
  padding: 40px 0;
  border-right: 1px solid var( --gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.decor {
  width: 50%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.decor-line,
.decor-center {
  width: 100%;
  display: flex;
}

.decor-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.decor-center {
  display: flex;
  justify-content: space-between;
}

.decor svg {
  width: 25%;
  aspect-ratio: 1 / 1;
}

.content {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0%, 15% {
    transform: rotate(0deg);
  }
  25%, 40% {
    transform: rotate(90deg);
  }
  50%, 65% {
    transform: rotate(180deg);
  }
  75%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverce {
  0%, 15% {
    transform: rotate(0deg);
  }
  25%, 40% {
    transform: rotate(-90deg);
  }
  50%, 65% {
    transform: rotate(-180deg);
  }
  75%, 90% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (min-width: 840px) {
  .decor {
    animation: rotate 14s  infinite;
  }

  .decor svg {
    animation: rotate-reverce 14s  infinite;
  }
}

@media screen and (max-width: 1209px) {
  .auth {
    grid-template-columns: 45% auto;
  }

  .decor {
    width: 65%;
  }
}

@media screen and (max-width: 839px) {
  .auth {
    display: block;
  }

  .decor-part {
    display: none;
  }

  .content {
    padding: 40px 30px;
  }
}