.auth {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.decor-part {
  border-right: 1px solid var( --gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.decor {
  width: 50%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: rotate 14s  infinite;
}

.decor-line,
.decor-center {
  width: 100%;
  display: flex;
}

.decor-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.decor-center {
  display: flex;
  justify-content: space-between;
}

.decor svg {
  width: 25%;
  aspect-ratio: 1 / 1;
  animation: rotate-reverce 14s  infinite;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverce {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  40% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  65% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  90% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}