.cart-product-card-wrap {
  display: grid;
  grid-template-columns: auto 32px;
  gap: 16px;
}

.cart-product-card {
  position: relative;
  display: grid;
  grid-template-columns: 130px auto;
  gap: 16px;
}

.img {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  min-height: 130px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.info {
  border-radius: 18px;
  padding: 24px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
  transition: color var(--transition);
}

.name::before {
  content: "";
  position: absolute;
  inset: 0;
}

.price {
  display: flex;
  gap: 4px;
  font-size: 18px;
}

.price span {
  color: var(--accent-color);
}

.remove-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  color: var(--accent-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition);
}

.remove-button svg {
  width: 85%;
  height: 85%;
}

@media (any-hover: hover) {
  .name:hover {
    color: var(--accent-light-color);
  }

  .remove-button:hover {
    color: var(--accent-light-color);
  }
}

@media screen and (max-width: 1209px) {
  .cart-product-card-wrap {
    grid-template-columns: auto 28px;
    gap: 8px;
  }

  .cart-product-card {
    gap: 8px;
  }

  .info {
    padding: 20px;
    flex-direction: column;
    gap: 12px;
  }

  .info > *:last-child {
    align-self: flex-end;
  }

  .name {
    font-size: 16px;
  }
}

@media screen and (max-width: 529px) {
  .cart-product-card-wrap {
    grid-template-columns: auto 24px;
    gap: 4px;
  }

  .cart-product-card {
    grid-template-columns: 35% auto;
  }

  .info > *:last-child {
    align-self: flex-start;
  }
  
  .remove-button svg {
    width: 100%;
    height: 100%;
  }
}