:root {
  --accent-color: #f08e83;
  --accent-light-color: #f7b970;
  --background-color: #fcf1e4;
  --black-color: #1b1b1b;
  --gray-color: #bcbcbc;
  --white-color: #FFFFFF;
  --transition: ease-in-out .3s;
  --panel-width: 280px;
  --box-shadow: 6px 6px 32px -16px rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--background-color);

  @media (max-width: 990px) {
    font-size: 14px;
  }
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
