:root {
  --red: #f08e83;
  --red-dark: #ED7667;
  --orange: #F7B970;
  --orange-dark: #f8a84d;
  --yellow: #fce47a;
  --yellow-dark: #fdcb42;
  --blue: #d8ecff;
  --blue-dark: #badcff;

  --accent-color: #f08e83;
  --accent-light-color: #fab565;
  --background-color: #fcf1e4;
  --black-color: #1b1b1b;
  --gray-color: #bcbcbc;
  --gray-dark-color: #9b9b9b;
  --white-color: #FFFFFF;
  --error-color: #ff4530;

  --transition: ease-in-out .3s;
  --panel-width: 280px;
  --box-shadow: 6px 6px 32px -16px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1209px) {
  :root {
    --panel-width: 230px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: var(--black-color);
  background-color: var(--background-color);

  @media (max-width: 990px) {
    font-size: 14px;
  }
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
