.menu-header {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media screen and (max-width: 1209px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 839px) {
  .menu-header {
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (max-width: 529px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}